*{
    padding: 0px;
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.cima {
    background-color: #19A1BF;
}

.baixo {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.baixo-esquerda {
    background-color:#D33838;
}

.baixo-direita{
    background-color:#1CAA44;
}